<div class="success-popup">
  <div class="popup-content">
    <img src="../../assets/front/img/jawakbehi.png" alt="Success" />
    <p>Thanks for choosing TYM  </p><div>
    <button  mat-button color="green"  (click)="reload()">Go to profile</button>
  </div>
  </div>
</div>

<style>
  .success-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }

  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 120px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }

  .popup-content img {
    width: 200px;
    margin-bottom: 20px;
  }

  .popup-content p {
    margin: 0;
    text-align: center;
  }
</style>
