<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <app-menu-admin></app-menu-admin>
    <div class="layout-page">
      <app-navbar-admin></app-navbar-admin>
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 mb-4 order-0">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <img src="/assets/back/img/deal.jpeg" alt="Deals Image" style="max-width: 70%; height: auto;">
                <div class="mt-4 d-flex flex-wrap justify-content-center align-items-center">
                  <a routerLink="/tender/all" class="btn btn-lg btn-primary m-3" style="width: 220px;">Manage Tenders</a>
                  <a routerLink="/offer/all" class="btn btn-lg btn-primary m-3" style="width: 220px;">Manage Offers</a>
                  <a routerLink="/contracts/all" class="btn btn-lg btn-primary m-3" style="width: 220px;">Manage Contracts</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer-admin></app-footer-admin>
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
  </div>
</div>
