<app-navbar2-user></app-navbar2-user>

<section class="course-area pd-top-100 pd-bottom-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ userConnected.FirstName }} {{ userConnected.LastName }}</h5>
            <p class="text-muted mb-4">{{ userConnected.email }}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Update</button>
            </div>
            <h2>Booking List</h2>
            <table class="table">
              <thead>
              <tr>
                <th>Client Name</th>
                <th>Client Lastname</th>
                <th>Online</th>
                <th>Confirmed</th>
                <th>Time</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let booking of bookings">
                <td>{{ booking.firstname }}</td>
                <td>{{ booking.lastname }}</td>
                <td>{{ booking.online }}</td>
                <td>{{ booking.Approved }}</td>
                <td>{{ booking.Book | date: 'YYYY-MM-DD HH:mm:ss' }}</td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
                <p class="text-muted mb-0">{{ userConnected.FirstName }} {{ userConnected.LastName }}</p>
              </div>
            </div>
            <hr>
          </div>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <!-- Add content here -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer-user></app-footer-user>
