
<div class="body-overlay" id="body-overlay"></div>
<app-navbar2-user></app-navbar2-user>
<br><br><br>
<div *ngIf="notification" class="notification">
  {{notification}}
</div>

<!-- course area start -->
<div class="course-area pd-top-100 pd-bottom-90">
  <div class="container text-center">
    <div class="section-title">
      <h6 class="sub-title double-line">specialist Space</h6>
      <h2 class="title">Manage Your workshop</h2>
    </div>
    <div class="d-flex justify-content-center">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-9">
            <input type="text" [(ngModel)]="searchValue" class="form-control" placeholder="Rechercher par Name...">
          </div>
          <div class="col-md-3">
            <button type="submit" class="submit-btn" (click)="searchByAddress(searchValue)"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <button class="btn btn-base sort-button" (click)="sortBoutiques()">Sort</button>
    <button class="btn btn-base custom-btn" (click)="openPopupForCreate()">New Workshop</button>
    <br><br>
    <table>
      <thead>
      <tr>
        <th class="table-header">ID</th>
        <th class="table-header">Name</th>
        <th class="table-header">Places</th>
        <th class="table-header">Price</th>
        <th class="table-header">Status</th>

        <th class="table-header">Time</th>

        <th class="table-header">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let workshop of workshops; let i=index;" [ngClass]="{'odd': i % 2 == 0, 'even': i % 2 != 0}">
        <td>{{ workshop.id }}</td>
        <td>{{ workshop.Name }}</td>
        <td>{{ workshop.Places }}</td>
        <td>{{ workshop.Prices }}</td>
        <td>{{ workshop.Online}}</td>

        <td>{{ workshop.Time }}</td>


        <td>
          <button (click)="deleteWorkshop(workshop.id)" class="btn btn-danger">delete</button>
          <button (click)="openPopupForUpdate(workshop)" class="btn btn-info">Update</button>

        </td>
      </tr>
      <tr>
        <td colspan="9" class="line"></td>
      </tr>
      </tbody>
    </table>
    <!-- Button to trigger the popup -->
    <div class="modal" tabindex="-1" role="dialog" *ngIf="showModal" style="display: block;">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">

            <button *ngIf="!isUpdate"  type="button" class="btn-close text-white" aria-lsabel="Close" (click)="closePopupForUpdate()"></button>
            <button *ngIf="isUpdate"  type="button" class="btn-close text-white" aria-label="Close" (click)="closePopupForCreate()"></button>

          </div>
          <div class="modal-body custom-modal-body">
            <!-- Form inside the popup -->





            <h2 *ngIf="!isUpdate" class="text-center mb-4">Add workshop</h2>
            <h2 *ngIf="isUpdate" class="text-center mb-4">Update workshop</h2>

            <form (ngSubmit)="onSubmit()" #workshopForm="ngForm" class="p-4 border rounded">


                <div class="col-md-6">

              <div class="form-group">
                <label >Name :</label>
                <input type="text" class="form-control"  [(ngModel)]="workshop.Name" [ngModelOptions]="{standalone: true} "required> </div>
              </div>

              <div class="col-md-6">
                <div class="single-input-inner">
                  <label for="Places">Places:</label>
                  <input type="number" placeholder="Places" class="form-control" id="Places" name="Places" [(ngModel)]="workshop.Places" [ngModelOptions]="{standalone: true}" required>              </div>
              </div>

              <div class="col-md-6">
                <div class="single-input-inner">
                  <label for="Prices">Price:</label>
                  <input type="number" placeholder="Prices" class="form-control" id="Prices" name="Prices" [(ngModel)]="workshop.Prices" required>              </div>
              </div>
              <div class="col-md-6">
                <div class="single-input-inner">
                  <label for="Online">Status:</label>
                  <input type="text" placeholder="Online" class="form-control" id="Online" name="Online" [(ngModel)]="workshop.Online" required>              </div>
              </div>

              <div>
              <label for="Time">Fix a date</label>
                <input type="date"  id="Time" name="Time" [(ngModel)]="workshop.Time" [ngModelOptions]="{standalone: true}" required>
              </div>

              <div>
             

                <div class="card">
                  <div class="card-header">
                    <label for="serviceClient" class="form-label">Client's email</label>
                    <select [(ngModel)]="selectedClient2" class="form-select" id="selectedClient2">
                      <option *ngFor="let client of clients" [ngValue]="client">{{ client.email }}</option>
                    </select>
                  </div>
                  <div class="card-body p-3 pb-0">
                    <div class="d-flex justify-content-between">
                      <h6 class="mb-0">{{ selectedClient2?.email }}</h6>
                    </div>
                  </div>
                </div>



              <div class="text-center">
                <button *ngIf="!isUpdate" type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!workshopForm.valid">Add</button>
                <button *ngIf="isUpdate" type="submit" class="btn btn-info" [disabled]="!workshopForm.valid">Update</button>
              </div>







          <div class="modal-footer">
            <button *ngIf="!isUpdate" type="button" class="btn btn-secondary" (click)="closePopupForCreate()">Close</button>
            <button *ngIf="isUpdate" type="button" class="btn btn-secondary" (click)="closePopupForUpdate()">Close</button>

          </div>
              </div>
            </form>
  
<!-- course area End -->



