
<div class="body-overlay" id="body-overlay"></div>

<app-navbar2-user></app-navbar2-user>
<br><br><br>
<!--body-->

<!-- signup-page-Start -->
<div class="signup-page-area pd-top-120 pd-bottom-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="section-title text-center">
        <h6 class="sub-title double-line">add</h6>
        <h2 class="title">assignments </h2>
      </div>
      <div class="col-xl-6 col-lg-7">
        <form [formGroup]="categorieForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="type">Type:</label>
            <input type="text" class="form-control" id="type" formControlName="type">
          </div>

          <div formArrayName="subCategories">

            <div *ngFor="let subCategory of subCategories.controls; let i=index" [formGroupName]="i">

              <label>Types {{i+1}} :</label>
              <input type="text" formControlName="type">
              <div formArrayName="subCategories">
                <button type="button" class="btn btn-primary" (click)="addSubCategory(i)">add</button>
                <button type="button" class="btn btn-primary" (click)="removeSubCategory(i)">delete</button>
              </div>

            </div>

          </div>
          <br>
          <br>
          <br>
          <button type="submit" class="btn btn-primary">create</button>

        </form>
      </div>
    </div>
  </div>
</div>
<!-- signup-page-end -->
<app-footer-user></app-footer-user>
